<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/api/login">
    <label for="id">Username: </label>
    <input type="text" id="id" name="id" required /><br />

    <label for="password">Password: </label>
    <input type="password" id="password" name="password" required /><br />

    <input type="submit"/>
</form>

<a href="/oauth2/authorization/kakao">카카오 로그인</a>
<a href="/oauth2/authorization/payco">페이코 로그인</a>
</body>
</html>